body {
  background-color: #333;
}

canvas#game-area {
  border: 5px solid #aaa;
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}