canvas#game-area {
  border: 1px solid #aaa;
  background-color: #f3f3f3;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}