body {
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

canvas#game-area {
  border: 5px solid #aaa;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
}

h3 {
  font-size: 2rem;
  margin: 10px 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.m-tb-10, .m-bt-10 {
  margin: 10px 0;
}

.squash-ball {
  animation-name: squash;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes squash {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.2);
  }
}